.dark {
    margin:0;
    border:0;
    padding:0;
    height:100vh;
    width:100vw;
    background-color:rgb(53, 53, 53);
}

.dark .nav-bar {
    background-color: rgb(42, 42, 42);
}

.dark .nav-name {
    color: white;
}

.dark #popup-body {
    background-color: rgb(53, 53, 53);
}

.dark #popup-content {
    color:white;
}

.dark #key {
    background-color:rgb(84, 84, 84);
    border: 2px dotted rgb(202, 0, 0);
}