#theme-container {
    padding:0;
    margin:0;
    width: 100vw;
    height:100vh;
}

/* 
----- LIGHT MODE PROPERTIES -----
*/
.light {
    margin:0;
    border:0;
    padding:0;
    height:100vh;
    width:100vw;
    background-color:rgb(221, 221, 221);
    color: black;
}

.light .nav-bar {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.25s ease;
}

.light #change-theme {
    background-color: black;
    border: 3px solid black;
    transition: background-color 0.25s ease;
}



/* 
----- DARK MODE PROPERTIES -----
*/
.dark {
    margin:0;
    border:0;
    padding:0;
    height:100vh;
    width:100vw;
    background-color:rgb(23, 23, 23);
    color: white;
}

.dark .nav-bar {
    background-color: rgb(42, 42, 42);
    transition: background-color 0.25s ease
}

.dark #popup-body {
    background-color: rgb(53, 53, 53);
}

.dark #popup-content {
    color:white;
}

.dark #key {
    background-color:rgb(84, 84, 84);
    border: 2px dotted rgb(202, 0, 0);
}

.dark #change-theme {
    background-color: white;
    border: 3px solid white;
    transition: background-color 0.25s ease;
}