@font-face {
    font-family: source-code-pro;
    src: url(./fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: ways;
    src: url(./fonts/Ways_SemiBold.ttf);
}

@font-face {
    font-family: corpulent;
    src: url(./fonts/CorpulentCapsj.ttf);
}

@font-face {
    font-family: dot-matrix;
    src: url(./fonts/Dot\ Matrix.ttf);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro;
}
