body {
    font-family: ways;
}

.nav-logo {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    height: 90px;
    background: rgb(210, 210, 210);
    display:grid;
    grid-template-columns: 90px 150px auto;
}

.nav-items {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: normal;
    padding: 20px;
}

.nav-items a {
    font-size: 18pt;
    text-decoration: none;
    color: gray;
    padding:10px;
}

.nav-items a:hover {
    color: rgb(45, 45, 45);
}

.nav-name {
    font-family: ways;
    font-size: 30pt;
    height: 90px;
    font-weight: bold;
    margin:0;
    display: flex;
    align-items: center;
}

.error-body {
    font-family: source-code-pro;
    font-weight: normal;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#welcome {
    font-size: 40pt;
    padding-left: 80px;
    padding-top: 20px;
    font-weight: bold;
}

#info {
    padding-left:110px;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    gap: 0;
}

#info p {
    width: 50%;
    padding: 0;
    margin: 0;
}